body {
    background-color: beige;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#page_title {
    margin: 10px;
    background-color: gray;
}

p {
    margin: 10px 10px 2px 10px;
}

.dates {
    height: 30px;
    font-size: 20px;
    padding: 2px;
    margin: 5px;
}

#calculator {
    border: solid 1px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 2px;
    margin: 5px;
}

#mob {
    width: 30px;
}

#dob {
    width: 30px;
}

#yob {
    width: 50px;
}

main {
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  /* horizontal */ 
    align-items: center;      /* vertical */
}

footer {
    align-items: flex-end;
}